body
{
	background-image: url(fondofutbol2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	font-family: Verdana;

  font-weight: normal;
	background-position:center center;
	color: #FFFFFF;
	height:1000px;
	background-attachment: fixed;
	background-size:cover;
	
}

header
{
background: url("logopy.png") no-repeat 3% center, url(logopy.png) no-repeat 97%,
#990f0f;
background-size: 95px;
font-size: 14px;
font-weight: normal bolder;
margin-left: 11px;
padding: 23px;
text-align: center;
width: 98%;
}
.pe1
{
margin: 0;
text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 33px;
font-weight: 900;
}
.pe2
{
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
}

.seleccion {
    width: 90%; 
  }
  th, td {
	border-radius: 8px;
  }

.efecto
{
	
	transition:0.5s;
	object-fit:cover;
	justify-content:center;

}
.efecto:hover
{
	transform: scale(1.2)
}
.buttonM
{
	border: none;
	padding:7px 20px;
	font-size:12px;
	font-weight:20;
	font-style:normal;
	border-radius:20px;
	box-shadow: 00 5px cyan, 0 0 25px cyan;
	position:0;
	margin: auto;
	padding:auto;
	box-sizing: border-box;
	font-family: Arial, Arial;
	text-decoration:none;
	
}
.buttonM:hover
{
	box-shadow: 0 0 5px cyan,
	0 0 15px cyan, 0 0 30px cyan,
	0 0 50px cyan, 0 0 100px cyan;
	
	
}
.button
{
	border: none;
	padding:7px 20px;
	font-size:12px;
	font-weight:20;
	font-style:normal;
	border-radius:20px;
	box-shadow: 00 5px cyan, 0 0 25px cyan;
	position: relative;
	display:grid;
	
}
.button:hover
{
	box-shadow: 0 0 5px cyan,
	0 0 15px cyan, 0 0 30px cyan,
	0 0 50px cyan, 0 0 100px cyan;
}
*
{
	margin: auto;
	padding:auto;
	box-sizing: border-box;
	font-family:'Source Sans 3', sans-serif;
	text-decoration:none;
	
} 

h1{
        width: 90%;
        height: 60px;
        background-color: red;
		padding-top: 10px;
		margin-top: 40px;
		margin-bottom: 10px;
        border-Radius: 10px;
		border-color: #cbd6e2;
        box-Shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
}
h2{
        width: 1100px;
        height: 30px;
		padding-top: 10px;
		padding-bottom: 36px;
        background-color: red;
        border-Radius: 10px;
		border-color: #cbd6e2;
        box-Shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
}

.librovisitas {
  background-color: #7df6f6;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  margin-left: 450px;
  margin-right: 450px;
  padding: 8px;
  margin-top: 10px;
  margin-top: 5px;
  position: relative;
  display: grid;
  box-shadow: 0 0 15px cyan; 
}

.librovisitas a {

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: rgb(3, 4, 96);
  text-decoration: none;
}

.librovisitas:hover {
  background-color: rgb(255, 241, 93);
  transition: background-color 0.3s, transform 0.3s;
  transform: scale(1.1);
}

.librovisitas:hover a {
  color: black;
}

footer
{
background: #1f0d77;
border: 3px solid white;
color: white;
display: inline-block;
vertical-align: top;

width: 97%;
margin: 25px 25px 25px 20px;
padding: 10px;
}
footer p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: white;
    text-align: justify;
    margin-left: 6px;
    font-weight: 550;
    letter-spacing: 1;
    line-height: 25px;
}  
.descubre {
  text-align: justify;
  margin-left: 6px;
}
ul {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  color: white;
  margin-left: 6px;

  text-align: justify;
  font-weight: 550;
  letter-spacing: 1;
  line-height: 25px;
  list-style-type: none;
  padding-top: 10px
}
ul li{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
ul li:before {
  content: '✔';
  margin-right: 5px;
}
.fot {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: white;
    text-align: right;
    font-weight: 550;
    letter-spacing: 1;
    line-height: 0px;
    padding-bottom: 10px;
}
.primera1 {
  line-height: 1px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding: 20px;
}
.pagina-principal {
  background-color: #d7431a;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  margin-left: 1090px;
  margin-right: 26px;
  padding: 10px;
  margin-top: -3px;
  position: relative;
  display: grid;
  box-shadow: 0 0 15px cyan; 
}

.pagina-principal a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  
}

.pagina-principal:hover {
  background-color: rgb(1, 164, 164);
  transition: background-color 0.3s, transform 0.3s;
  transform: scale(1.1);
}

.pagina-principal:hover a {
  color: black;
}